body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#simon-game {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    margin-bottom: 20px;
}



#start-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-btn:hover {
    background-color: #45a049;
}



.tile.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    transform: scale(1.1); /* Add a slight scale effect */
    background-color: #000;
}


.tile {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #000;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}